<div class="container p-3 d-flex justify-content-center">
  <div class="card shadow-sm border border-primary" style="width: 40rem;">
    <div *ngIf="isDataFetch" class="card-header text-center bg-primary text-white">
      <h4 class="mb-0">{{ isUpdatedMode ? 'Update' : 'Add' }} User/Admin</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="formData.username"
            required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="formData.password"
            required>
        </div>

        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select class="form-select" id="role" name="role" [(ngModel)]="formData.role" required>
            <option value="User">User</option>
            <option *ngIf="loggedInRole ==='Superadmin'" value="Admin">Admin</option>
          </select>
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">{{ isUpdatedMode ? 'Update' : 'Add' }}</button>
          <button type="button" class="btn btn-secondary ms-2" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>