<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" type="button" routerLink="/app-dashboard">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Super Admin Navigation -->
                <ng-container *ngIf="role === 'Superadmin' || role === 'Admin'">
                    <li class="nav-item">
                        <a class="nav-link" type="button" aria-current="page" routerLink="/app-dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button" aria-current="page" routerLink="/app-users-form">UsersForm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button" (click)="logout()">Logout</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="role === 'User'">
                    <li class="nav-item">
                        <a class="nav-link" type="button" (click)="logout()">Logout</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>